.nice-blue-color {
    color: #4C82FB;
}
.nice-purple-color {
    color: #98A1C0;
}


.background {
    background: linear-gradient(180deg, #202738, #070816);
}

.header-connect-button {
    background-color: rgb(76, 130, 251, 0.3);
}
.header-connect-button:hover {
    background-color: rgb(76, 130, 251, 0.7);
}

.searchbox {
    border-width: 0.25px;
    border-style: solid;
    border-color: rgb(255, 255, 255, 0.14);
    background-color: rgb(255, 255, 255, 0.07);
}


.portal1 {
    height: 982px;
    width: 480px;
    border-radius: var(--br-md);
    background: radial-gradient(
        50% 50%at 50% 50%,
        #082be1,
        rgba(166, 151, 255, 0)
    );
}

.portal2 {
    height: 982px;
    width: 550px;
    border-radius: var(--br-md);
    background: radial-gradient(
        50% 50%at 50% 50%,
        rgb(28, 60, 220),
        rgba(166, 151, 255, 0)
    );
}

.portal3 {
    height: 982px;
    width: 500px;
    border-radius: var(--br-md);
    background: radial-gradient(
        50% 50%at 50% 50%,
        rgb(30, 65, 238),
        rgba(166, 151, 255, 0)
    );
}

.glass {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), #0f131e);
}

.get-started-button {
    background: rgb(76, 130, 251, 0.3);
}
.get-started-button:hover {
    background: rgb(76, 130, 251, 0.5);
}


.features {
    background-color: #0D111C;
}
.features-l1 {
    width: 644px;
    height: 360px;
    background-image: url("../assets/tokens.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}

.features-l2 {
    width: 420px;
    height: 240px;
    background: #060614;
    border: #1B2236 0.25px solid;
}

.giant-pill {
    background: radial-gradient(
        100% 120%,
        #4673FA,
        rgba(166, 151, 255, 0)
    );
}